<ion-header>
  <ion-navbar color="danger">
    <ion-title text-center>
     Camera
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="blue">
 
  

<ion-fab top center>
<button ion-fab (tap)="toggle()"color="danger"> <ion-icon name="flash"></ion-icon> </button>
</ion-fab>
<br>

<ion-fab bottom center>
<button ion-fab color="danger" (click)="takePhoto()" ><ion-icon name="md-camera"></ion-icon></button>
</ion-fab>
 

   <ion-card *ngFor=" let photo of photos; let id =index" >
         
         <img [src]="photo" *ngIf="photo" />

        
    
<ion-card-content>
<ion-fab top right>
<button ion-fab color="danger" (click)="Gallery()" ><ion-icon name="albums"></ion-icon></button>
</ion-fab>


<ion-fab top left>
<button ion-fab color="danger" (click)="deletePicture()" ><ion-icon name="trash"></ion-icon> </button>
</ion-fab>
   
</ion-card-content>
</ion-card>





</ion-content>
